@font-face {
    font-family: 'AvrileSans';
    src: url('../fonts/AvrileSans-CondensedLight.woff2') format(woff2),
    url('../fonts/AvrileSans-CondensedLight.woff') format(woff);
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'AvrileSans';
    src: url('../fonts/AvrileSans-Condensed.woff2') format(woff2),
    url('../fonts/AvrileSans-Condensed.woff') format(woff);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'AvrileSans';
    src: url('../fonts/AvrileSans-CondensedMedium.woff2') format(woff2),
    url('../fonts/AvrileSans-CondensedMedium.woff') format(woff);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'AvrileSans';
    src: url('../fonts/AvrileSans-CondensedSemiBold.woff2') format(woff2),
    url('../fonts/AvrileSans-CondensedSemiBold.woff') format(woff);
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Akony';
    src: url('../fonts/akony-bold.woff2') format(woff2),
    url('../fonts/akony-bold.woff') format(woff);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
