.footer{
    padding: 4rem 0 6rem 0;
    background: #1c1c1c;
}
.footer-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-menu__list {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.footer-menu__list li a{
    font-weight: 300;
}
.footer-block__logo {
    margin-bottom: 4rem;
}
.footer-block__info {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}
.footer-block__info-phone,
.footer-block__info-btn {
    display: block;
    border-radius: 15px;
    width: 225px;
    height: 65px;
    line-height: 65px;
}
.footer-block__info-phone{
    position: relative;
    text-align: right;
    padding-right: 20px;
    background: rgba(255, 255, 255, 0.04);
}
.footer-block__info-phone:hover{
    background: #3c3c3c;
}
.footer-block__info-phone::after{
    position: absolute;
    content: '';
    width: 21px;
    height: 21px;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    background: url('../images/home/phone.svg') no-repeat;
}
.footer-block__info-btn {
    border: none;
    background: #fff;
}
.footer-block__info-btn:hover{
    background: #054960;
    color: #fff;
}
.footer-block__site {
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.6);
}
.footer-block__social {
    margin-bottom: 60px;
    display: flex;
    gap: 5px;
}
.footer-block__bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.5);
}
.footer-block__bottom a,
.footer-block__bottom p{
    width: calc(100% / 3);
    display: block;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}
.footer-block__bottom a:hover,
.footer-block__site:hover{
    color: #fff;
}